.custom-col {
  display: flex;
  justify-content: center;
}

.fixed-width {
  width: 320px;
  margin-bottom: 1rem;
}

.aspect-ratio-box {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.aspect-ratio-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.alert-fixed-right {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  background-color: #f53a49;
  color: #721c24;
  border-color: #c92132;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: auto;
  max-width: 300px;
}
