{% extends 'main.html' %}{% block content %}
<div class="product-container">
  <h2 class="text-white mx-5">Reviews for product {{data['product_name']}}</h2>
  <div class="wrapper m-5">
    <table id="reviewsTable" class="display table table-striped table-light custom-light-table" style="width: 100%">
      <thead>
        <tr>
          <th>Author</th>
          <th>Review ID</th>
          <th>Recommendation</th>
          <th>Stars</th>
          <th>Review Date</th>
          <th>Content</th>
        </tr>
      </thead>
      <tbody>
        {% for review in data['reviews'] %}
        <tr>
          <td>{{ review.author }}</td>
          <td>{{ review.review_id }}</td>
          <td>{{ review.recommendation }}</td>
          <td>{{ review.stars }}</td>
          <td>{{ review.review_date }}</td>
          <td>{{ review.content }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="d-flex flex-row">
    <button
      type="button"
      class="btn btn-sm btn-outline-secondary ms-5 me-2"
      onclick="window.location.href='/products/'"
    >
      <img
        class="bi pe-none me-2"
        style="width: 24px; height: 24px"
        src="{{ url_for('static',
    filename='/images/arrow-left.png') }}"
      />
      All products
    </button>
    <button
      type="button"
      class="btn btn-sm btn-outline-secondary mx-2"
      onclick="window.location.href='/reviews-download/{{product_id}}'"
    >
      <img
        class="bi pe-none me-2"
        style="width: 18px; height: 18px"
        src="{{ url_for('static',
    filename='/images/download.png') }}"
      />
      Reviews Download
    </button>
    <button
      type="button"
      class="btn btn-sm btn-outline-secondary mx-2"
      onclick="window.location.href='/product/charts/{{product_id}}'"
    >
      <img
        class="bi pe-none me-2"
        style="width: 18px; height: 18px"
        src="{{ url_for('static',
    filename='/images/charts.png') }}"
      />
      Product charts
    </button>
  </div>
</div>
{% endblock %}
