{% extends 'main.html' %} {% block content %}
<div class="products-wrapper" style="min-height: 90%; min-width: 90%">
  <div class="album py-5">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-2 justify-content-start">
      {% for product in data['products'] %}
      <div class="col custom-col" id="{{ product['product_id'] }}">
        <div class="card fixed-width shadow-sm text-bg-dark">
          <div class="image-wrapper aspect-ratio-box">
            <img
              class="bd-placeholder-img card-img-top d-block mx-auto"
              src="https:{{ product['product_image_src'] }}"
              alt="{{ product['product_name'].strip()  }}"
            />
          </div>
          <div class="card-body d-flex flex-column justify-content-between">
            <div>
              <a href="https://www.ceneo.pl/{{ product['product_id'] }}" style="text-decoration: none; color: inherit">
                <h3 class="card-title">{{ product['product_name'].strip() }}</h3>
              </a>
              <p class="card-text">
                This product has an average review score of {{ product['reviews_avg_score'] }} based on {{
                product['reviews_amount'] }} reviews.
              </p>
              <div class="cons_pros d-flex pt-1">
                <img
                  src="{{ url_for('static', filename='/images/plus.png') }}"
                  width="24"
                  height="24"
                  class="bi pe-none me-2"
                />
                <p class="me-2">{{ product['total_pros'] }}</p>
                <img
                  src="{{ url_for('static', filename='/images/minus.png') }}"
                  width="24"
                  height="24"
                  class="bi pe-none me-2"
                />
                <p class="me-2">{{ product['total_cons'] }}</p>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-sm btn-outline-secondary"
                  onclick="window.location.href='/product/{{ product['product_id'] }}/'"
                >
                  View details
                </button>
              </div>
              <button
                type="button"
                class="btn btn-sm btn-outline-secondary"
                onclick="window.location.href='/data-download/{{ product['product_id'] }}'"
              >
                Data download
              </button>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
